p, label, div{
    text-align: center;
}

body{
    background-color: rgb(180, 234, 177);
}

.headerSection {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.meterSection {
    grid-area: meter;
}
.setterSection {
    grid-area: setter;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.goalSection {
    grid-area: goal;
}

.datetimeDisplay{
    margin: auto;
    margin-left: 71.375px;
    font-size: 30px;
    font-weight: 800;
}

.grid-container {
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-areas:
    'meter header header header header header'
    'meter setter setter setter setter setter'
    'meter goal goal goal goal goal';
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-columns: 1.2fr 4fr 4fr;
    gap: 10px;
    width: 500px;
    height: 500px;
    padding: 10px;
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(31,91,204,1) 0%, rgba(0,212,255,1) 72%);
}

.section {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

input {
    width: 100%;
    padding: 0;
    margin-top: 50px;
    border: 0;
    font-size: 6em;
    color: rgb(0, 0, 0);
    text-align: center;
}

.currentTempContainer{
    font-size: 24px;
    padding-bottom: 20px;
    font-weight: 800;
}

.input-container {
    position: relative;
    width: 400px;
    height: 200px;
    margin: auto;
}

#minus,
#plus {
    font-family: 'Major Mono Display', monospace;
    background: #0646cf;
    color: #fff;
    font-weight: 900;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 60px;
    height: 100%;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
}

#minus {
    content: "-";
    top: 0;
    left: 0;
    border-color: rgb(0, 132, 255);
}

#plus {
    content: "+";
    right: 0;
    top: 0;
    border-color: rgb(207, 54, 54);
}

/* Basic battery icon styles adopted from: https://codepen.io/manovotny/pen/poLKJg */
.battery {
  border: 3px solid #333;
  width: 18px;
  height: 28px;
  padding: 2px;
  border-radius: 4px;
  position: relative;
  margin: 15px 15px;
  justify-self: flex-end;
}

.battery::before{
    content: '';
    height: 3px;
    width: 18px;
    background: #333;
    display: block;
    position: absolute;
    top: -6px;
    border-radius: 4px 4px 0 0;
}

.battery::after{
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid #fff;
    border-radius: 2px;
}

.battery-level {
  background: #30b455;  
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;  
}

.warn {
    background-color: #EFAF13;
}

.alert:before {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%3E%3C%2Fg%3E%20%3Cpath%20fill%3D%22%23e81309%22%20d%3D%22M17.927%2012l2.68-10.28c0.040-0.126%200.060-0.261%200.060-0.4%200-0.726-0.587-1.32-1.314-1.32-0.413%200-0.78%200.187-1.019%200.487l-13.38%2017.353c-0.18%200.227-0.287%200.513-0.287%200.827%200%200.733%200.6%201.333%201.333%201.333h8.073l-2.68%2010.28c-0.041%200.127-0.060%200.261-0.060%200.4%200.001%200.727%200.587%201.32%201.314%201.32%200.413%200%200.78-0.186%201.020-0.487l13.379-17.353c0.181-0.227%200.287-0.513%200.287-0.827%200-0.733-0.6-1.333-1.333-1.333h-8.073z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: 18px;
    height: 18px;
    width: 18px;
    margin: -25px 0 0 2px;
    content: '';
    display: inline-block;
    position: absolute;
}
.alert {
    background-color: #e81309;
} 
/* End of modified battery code*/