p, label, div{
    text-align: center;
}

label{
    margin-right: 5px;
}

body{
    background-image: url('/img/outside.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    -webkit-text-stroke: 1px rgb(16, 142, 173);
    color: rgb(62, 80, 241);
    margin: 0;
}

h3{
    margin: 0;
}

.headerSection {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.meterSection {
    grid-area: meterSec;
    display: flex;
    align-items: center;
    justify-content: center;
}
.setterSection {
    grid-area: setter;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.goalSection {
    grid-area: goal;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
}

.dailyGoalContainer, .dailyAvgContainer{
    padding-left: 10px;
    font-size: 28px;
}

.checkmark{
    display: none;
    font-size: 26px;
    color: green;
}

#militaryTimeInput{
    width: 50px;
    margin-right: 153px;
}

.datetimeDisplay{
    margin-left: 20px;
    font-size: 22px;
    width: 235px;
}

.grid-container {
    margin-top: 10px;
    display: grid;
    grid-template-areas:
    'meterSec header header header header header'
    'meterSec setter setter setter setter setter'
    'meterSec goal goal goal goal goal';
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-columns: 1.2fr 4fr 4fr;
    gap: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    padding: 10px;
    border-radius: 25px;
}

.main-container {
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto;
    margin-bottom: 100px;
  }

.settingsSection {
    grid-area: settings;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.waterSection{
    grid-area: waterSection;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.waterIcon {
    width: 40px;
    height: 40px;
    --fa-primary-color: blue;
}

.settings-field{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.settings-field > label{
    font-size: 26px;
}

.settings-field > input, .settings-field > select{
    width: 250px;
    height: 50px;
    font-size: 30px;
}

.settings-grid-container {
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-areas:
    'waterSection header header header header header'
    'settings settings settings settings settings settings'
    'settings settings settings settings settings settings';
    grid-template-rows: 1fr 7fr;
    grid-template-columns: 1.2fr 4fr 4fr;
    gap: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px;
    border-radius: 25px;
}

.mainView, .settingsView{
    background-color: rgb(76, 105, 158);
}

.section {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

#waterTemp {
    width: 100%;
    padding: 0;
    margin-top: 50px;
    border: 0;
    font-size: 6em;
    color: rgb(0, 0, 0);
    text-align: center;
}

#waterTemp:focus {
    outline: none;
}

.currentTempContainer{
    font-size: 28px;
    padding-bottom: 20px;
}

.waterQuantity{
    transform: rotate(-90deg) scale(6, 8);
}

meter::-webkit-meter-optimum-value {
    background: rgb(0, 132, 255);
}

meter::-webkit-meter-bar{
    box-shadow: 0 5px 5px -5px #333 inset;
    border-color: rgb(0, 0, 0);
}

meter::-webkit-meter-optimum-value, meter::-webkit-meter-suboptimum-value, meter::-webkit-meter-even-less-good-value {
    transition: 1s width;
}

.input-container {
    position: relative;
    width: 400px;
    height: 200px;
    margin: auto;
}

.minus,
.plus {
    font-family: 'Major Mono Display', monospace;
    background: #6797ff;
    color: #fff;
    font-weight: 900;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 60px;
    height: 100%;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    border-width: thick;
}

.minus {
    content: "-";
    top: 0;
    left: 0;
    border-color: rgb(0, 174, 255);
}

.plus {
    content: "+";
    right: 0;
    top: 0;
    border-color: rgb(207, 54, 54);
}

button.plus:disabled, button.minus:disabled{
    background: #6077aa;
}

.bluetoothIcon{
    margin-right: 12px;
}

.settingsButton{
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.settingsButton:hover {
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #4e565a; 
}

/* Basic battery icon styles adopted from: https://codepen.io/manovotny/pen/poLKJg */
.battery {
  border: 3px solid #333;
  width: 18px;
  height: 28px;
  padding: 2px;
  border-radius: 4px;
  position: relative;
  margin: 0 15px 0 25px;
  justify-self: flex-end;
  transform: rotate(90deg);
}

.battery::before{
    content: '';
    height: 3px;
    width: 18px;
    background: #333;
    display: block;
    position: absolute;
    top: -6px;
    border-radius: 4px 4px 0 0;
}

.battery::after{
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid #fff;
    border-radius: 2px;
}

.battery-level {
  background: #30b455;  
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;  
}

.warn {
    background-color: #EFAF13;
}

.alert:before {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%3E%3C%2Fg%3E%20%3Cpath%20fill%3D%22%23e81309%22%20d%3D%22M17.927%2012l2.68-10.28c0.040-0.126%200.060-0.261%200.060-0.4%200-0.726-0.587-1.32-1.314-1.32-0.413%200-0.78%200.187-1.019%200.487l-13.38%2017.353c-0.18%200.227-0.287%200.513-0.287%200.827%200%200.733%200.6%201.333%201.333%201.333h8.073l-2.68%2010.28c-0.041%200.127-0.060%200.261-0.060%200.4%200.001%200.727%200.587%201.32%201.314%201.32%200.413%200%200.78-0.186%201.020-0.487l13.379-17.353c0.181-0.227%200.287-0.513%200.287-0.827%200-0.733-0.6-1.333-1.333-1.333h-8.073z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: 18px;
    height: 18px;
    width: 18px;
    margin: -25px 0 0 -8px;
    content: '';
    display: inline-block;
    position: absolute;
    transform: rotate(-90deg) scale(.9, .9);
}
.alert {
    background-color: #e81309;
} 
/* End of modified battery code*/

/* some cool button styles I found */
.simStart {
    background-color: #66A182;
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    width: 250px;
    height: 62px;
    border-radius: 50px;    
    font-size: 24px;
}

.simStart span{
    justify-content: center;
    font-size: 24px;
}
.simStart::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.simStart:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.simStart::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.simStart:hover::after {
    opacity: 1;
    transform: scale(1,1);
}